Flask
flask-cors
opencv-python-headless
Flask-Bcrypt
pymongo
azure-storage-blob
requests
azure-data-tables
torch
torchaudio
soundfile
numpy
librosa
matplotlib
ffmpeg
ffmpeg-python
gunicorn
moviepy
demucs
matplotlib
